.title_dancer {
  text-align: center;
  font-family: "Amita", cursive;
  color: gold;
  background-color: black;
  background-position: relative;
}
/* .panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
} */
.outer_fullpose {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_pose_michelle {
  width: 30%;
  height: 20%;
}
.full_pose_andrea {
  width: 87%;
  height: 20%;
}
.full_pose_jana {
  width: 50%;
  height: 20%;
}
.full_pose_rose {
  width: 87%;
  height: 20%;
}
.full_pose_jenna {
  width: 50%;
  height: 20%;
}
.full_pose_amarya {
  width: 50%;
  height: 20%;
}
.headshot {
  width: 50%;
}
.outer_mother_daughter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
}
.mom_daughter_jenna {
  width: 30%;
}
.mom_daughter_amarya {
  width: 50%;
  display: flex;
  justify-content: center;
}
.solo_photo {
  width: 50%;
  display: flex;
  justify-content: center;
}
.invite_card {
  width: 100%;
}
.invite_card_michelle {
  /* whatever */
}
.varnum_pose {
  width: 50%;
  display: flex;
  padding-left: 25%;
}

@media screen and (max-width: 430px) {
  .title_dancer {
    margin-top: 39px;
  }
  .mom_daughter_jenna {
    width: 10%;
  }
  .varnum_pose {
    width: 101%;
  }
}
@media screen and (max-width: 768px) {
  /* iPad screen */
}
